<br>
<div class="row">
  <div class="col-xs-2 col-xs-offset-1">
    <a href ui-sref='home'class="btn btn-block btn-default" > 
      <i class="glyphicon glyphicon-home"></i>&nbsp;Go Back</a>
 </div>
</div>
<h2 class="text-center">Medication History</h2>

<div class="container">
<div class="input-group input-group-lg">
  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search"></span> Search</span>
	<input type="text" class="form-control" placeholder="Enter Pill Name" ng-model="searchPill" ng-virtual-keyboard="{relative: false}" aria-describedby="basic-addon1"/> 
  </div>
  
  <br>  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Medication Name</th>
        <th>Amount Dispensed</th>
        <th>Date Dispensed</th>
      </tr>
    </thead>
    <tbody>
    	<tr ng-repeat="log in dispensed | orderBy:'dateDispensed':true | filter:searchPill">

				<td filter="{ 'pillName': 'text' }">
					{{log.pillName}}</td>
				<td>
					{{log.dosage}}</td>
				<td>
					{{log.dateDispensed | date:"h:mma 'on' MMM d, y"}}</td>

			</tr>
      
    </tbody>
  </table>
</div>
<!--

<div ng-repeat="log in dispensed">

  <strong>id</strong>: {{log._id}} <br>
  <strong>Name</strong>: {{log.pillName}} <br>
  <strong>Amount Dispensed</strong>: {{log.dosage}} <br>
  <strong>Date Dispensed</strong>: {{log.dateDispensed|date:'medium'}} <br>

  <hr ng-if="!$last">
</div>
-->