<div class="container"><br/><br/>

	<div class = "row">

	<div class="col-xs-4" style="text-align:center;">

		<h1>Auto<span style = "color:#800000">MED</span>ic</h1>
		<img class ="homePill" src="/images/pillm.png"><br><br>
			<div style="text-align:center; background-color:#d9edf7; padding:20px; border-radius:20px;">
	        	<h1>Next Up</h1>

		    	<div ng-repeat="med in nextUp">
		    		<p><strong> {{med.pillName}} at {{med.dispensingTime| date:'h:mm a'}}</strong></p>
		    	</div>

	    	</div>
		</div>


	<div class="col-xs-8">
		<todays-weather
		  units='Metric'
		  custom-size="125"
		  location="{{model.searchLocation}}"
		  change="{{newLoc}}"
		  use-google-images="true">
		</todays-weather>

		<p ng-model="newLoc"></p>

		<form class="locationForm">
      		<div class="input-group">
    			<input id="pac-input" class="form-control"  type="text" placeholder="Search for a location" ng-model="model.searchLocation" ng-virtual-keyboard="{forcePosition:'top'}"/>
    			<span class="input-group-btn">
    				<button type="button" class="form-control" ng-click="newLocation()">Change Location</button> 
    			</span>
    		</div>
    	</form>
    	
	</div>

	<!--<div class="col-xs-3">
	    <div >
	      	<div style="text-align:center; background-color:#d9edf7; padding:20px; border-radius:20px;">
	        	<h1>Next Up</h1>

		    	<div ng-repeat="med in nextUp">
		    		<p><strong> {{med.pillName}} at {{med.dispensingTime| date:'h:mm a'}}</strong></p>
		    	</div>

	    	</div>
		</div>
	</div>
-->
<!--<p>
{{newschedule}}
</p>-->
</div>
</div>
