
<div class="form-group">
  <label class="control-label col-xs-2">Name:</label>
  <div class="col-xs-8">
    <input type="text" class="form-control" placeholder="Medication Name" 
    ng-model="med.pillName"
    required
    ng-virtual-keyboard="{relative: false}">
  </div>
</div>

<div class="form-group">
  <label class="control-label col-xs-2">Quantity:</label>
  <div class="col-xs-8">
    <input type="number" class="form-control" placeholder="Quantity" 
    ng-model="med.amount"
    required
    ng-virtual-keyboard="{kt: 'Numerico'}">
  </div>
</div>

<div class="form-group">
    <label class="control-label col-sm-2">Your Name:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" placeholder="Your Name" 
      ng-model="med.userName"
      required
      ng-virtual-keyboard="{relative: true}">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2">Cellphone:</label>
    <div class="col-sm-8">
      <input type="number" class="form-control" placeholder="Your Cell Phone Number" 
      ng-model="med.notifyNumber"
      ng-virtual-keyboard="{kt: 'Numerico'}">
    </div>
  </div>

</br>



<div class="form-group row">
  <div class="col-xs-4 col-xs-offset-6">
    <a href ui-sref='medform.dispensinginfo' class="btn btn-block btn-default">
      Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
  </div>
</div>

