

<div class="row">
	<div class="col-xs-12">
		<div id ="form-container">
			<div class="page-header text-center">
			<h2>Create a Medication</h2>

			<div id="status-buttons">
				<a ui-sref-active="active" ui-sref=".medication"><span>1</span> Name</a>
				<a ui-sref-active="active" ui-sref=".dispensinginfo" ng-click="timeSort()"><span>2</span>Dispensing info</a>
				<a ui-sref-active="active" ui-sref=".dosage"><span>3</span> dosage </a>
				<a ui-sref-active="active" ui-sref=".startdate"><span>4</span> start Date</a>
				<a ui-sref-active="active" ui-sref=".specialinstructions"><span>5</span> instructions </a>
				<a ui-sref-active="active" ui-sref=".summary" ng-click="timeSort()"><span>6</span > summary </a>
			</div>
		</div>

			<form name= "medicationForm" id="med-form"class="form-horizontal"
			ng-submit = "createMed()" role="form">
			<div  id="forms-views" ui-view> </div>
		</form>
	</div>


</div>
</div>
