<h2>Summary</h2>
<div>
<h4>Name:</h4><p>{{med.pillName}}</p>
<h4>Quantity of Pills:</h4> <p>{{med.amount}}</p>
<h4>Dispensing Frequency:</h4> <p>{{med.dispensingFreq}}</p>
<h4>Dispensting Times:</h4> <p>{{med.dispensingTime}}</p>
<h4>Number of Pills per Dose:</h4> <p>{{med.dosage}}</p>
<h4>Start Date:</h4> <p>{{med.startDate}}</p>
<h4>Special Instructions:</h4> <p>{{med.specialInstructions}}</p>

<div class="form-line">
<div class="col-xs-4">
    <a href ui-sref='medform.specialinstructions' class="btn btn-block btn-default">
    <span class="glyphicon glyphicon-circle-arrow-left"></span> Previous
    </a>
</div>
<div class="col-xs-4">
	<div><input type="submit" class="btn btn-block btn-primary"></div>
	</div>
</div>